button {
  width: fit-content;
  max-width: 40%;
}

img{
  height: 20rem;
  align-self: justify;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.main-container_story {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row{
  display: flex;
  justify-content: space-between;
}