// button {
//   width: fit-content;
//   max-width: 40%;
// }

.pimg{
  max-height: 20rem;
  align-self: center;
}

.main-container_story {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// .row{
//   display: flex;
//   justify-content: space-between;
// }