// importing Joystix Monospace font
@import url('http://fonts.cdnfonts.com/css/joystix');

// common styling for every element
* {
  font-family: 'Joystix', sans-serif;
  color: #ffffff;
  margin: 0;
  text-decoration: none;
}

body {
  background-image: url(./test.gif);
  margin: 0;
}

#root {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

// common styling for every button
button {
  width: 100%;
  text-decoration: none;
  background-color: #111125;
  padding: 0.75rem;
  border: none;
  transition: .2s ease-in-out;
  &:hover {
      cursor: pointer;
  }

}

.gap{
  margin-top: 3rem;
}

// displaying the starry background
// .background {
//   position: absolute;
//   height: 100vh;
//   width: 100vw;
//   background-color: #130036;
//   overflow: hidden;
//   z-index: -99;
//   justify-content: center;
// }

// creating the main center container
.main-container {
  background-color: #445a72;
  opacity: 90%;
  width: 50rem;
  height: fit-content;
  margin: 5rem 0;
  padding: 5rem;
  border: 0.5rem solid #b2c7de;
}

.content {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.main-title {
  text-decoration: underline;
  text-align: center;
  margin-bottom: 1.5rem;
}

.title {
  text-align: center;
}

.go-btn:hover {
  background-color: green;
}

.caution-btn:hover {
  background-color: orange;
}

.stop-btn:hover {
  background-color: red;
}