* {
  font-family: "Poppins", sans-serif;
  color: white;
  margin: 0;
  text-decoration: none;
}

button {
  background-color: green;
}

.app {
  position: relative;
}

.containerLarge {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  margin: auto;
  align-self: center;
  justify-self: center;
  background-color: rgb(31, 32, 47);
}

.containerSmall {
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: fit-content;
  background-color: rgb(31, 32, 47);
}

.title {
  text-align: center;
}

.background {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #130036;
  overflow: hidden;
  z-index: -99;
  justify-content: center;
}

.homepage {
  height: 100vh;
  width: 100vw;
}