.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
}

.character-models {
  display: flex;
  justify-content: space-evenly;
}

.character-model:hover {
  cursor: pointer;
  text-decoration: underline;
}

.character-stats {
  display: flex;
  flex-direction: column;
}