.map-container {
    background-color:#445a72e6;
    border-radius: 20px;
    width: 70rem;
    height: 35rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border: 0.5rem solid white;
    position: relative;
    img {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        border-radius: 10px;
        border: 2px solid white;
    }
    p {
        padding: 1.25rem;
        display: inline-block;
    }
}

.return {
    float: right;
}