.about-title {
    text-align: center;
}

.about-container {
    background-color: #445a72;
    opacity: 90%;
    position: absolute;
    width: 500px;
    height: fit-content;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 80px;
    border: 7px solid #b2c7de;
}

.author {
    margin-top: 20px;
    margin-bottom: 20px;
}