input {
    padding: 10px;
    margin-top: 5px;
}

p {
    text-align: justify;
}

.container {
    position: fixed;
    width: 850px;
    height: fit-content;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.container-wrapper {
    display: flex;
    flex-direction: row;
}

.card-background {
    background-color: #445a72;
    border: 7px solid #b2c7de;
    opacity: 90%;
    margin: 0 15px;
    padding: 60px;
}

.card-items {
    margin-top: 20px;
    margin-bottom: 20px;
}