@import url(//db.onlinewebfonts.com/c/53652da17589a6e21c5657d8a29f06b4?family=JoystixW00-Monospace);

* {
    font-family: "JoystixW00-Monospace";
}

.container-1 {
    background-color: #445a72;
    position: absolute;
    width: 500px;
    height: fit-content;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 60px;
    border: 7px solid #b2c7de;
    text-align: center;
}

.container-title {
    font-size: xx-large;
    margin-bottom: 20px;
}

.container-list{
    display: flex;
    flex-direction: column;
}

.game-links:hover {
    background-color: #450aa8;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
}

.game-links {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.container-2 {
    display: none;
}

button {
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 30px;
    text-align: center;
    width: 100%;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

button:hover {
    background-color: #4CAF50;
    cursor: pointer;
}