// centering the rules page title
.rule-title {
    text-align: center;
}

// adding adequate space between each rule for better readability
.rule-items {
    margin-top: 2rem;
    margin-bottom: 2rem;
}