// centering the abouts page title
.about-title {
    text-align: center;
}

// adding adequate space between each about for better readability
.about-item {
    margin-top: 2rem;
    margin-bottom: 2rem;
}