.navBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  background-color: #445a72e6;
  outline: 2px solid white;
  position: absolute;
  top: 0;
}
.nav-btn {
  align-self: center;
  color: #FFFFFF;
  text-decoration: none;
  transition: .1s ease-in-out;
  &:hover{
    color: #C5C5C5;
    //color: #FFEDBB;
  }
}

.navsoundbtn {
  background-color: white;;
}

.dashboard {
  display: none;
}