.navBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  background-color: rgba(9, 13, 31, 0.87);
}

.nav-btn {
  align-self: center;
  background-color: #111125;
  color: #ffffff;
  text-decoration: none;
  &:hover{
    color: rgb(196, 178, 255);
  }
}

.navsoundbtn {
  background-color: white;;
}